{% extends 'campaigns/settings.html' %}
{% load static %}
{% block right %}
<div class="change-password">
    <div class="right-header">
        <h1>Change Your Password</h1>
        <p>You can change your password anytime, for more security please make it unique to Epic Influencers
        </p>
        {% for message in messages %}
        <h3 id="message" class="{{message.tags}}">{{message}}</h3>
        {% endfor %}
        <form action="#" method="post" style="position: relative;">
            {% csrf_token %}
            <label for="password2">New Password</label>
            <input type="password" name="password2" id="password2"
                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" required>
            <label for="confirmpassword">New Password Confirmation</label>
            <input type="password" name="confirmpassword" id="confirmpassword"
                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <p>Please enter your current password to confirm your changes</p>
            <input type="submit" value="Update">
            <div id="validation-box">
                <span class="arrow"></span>
                <p>Your password must be at least <span class="red" id="characters">8 characters</span>
                    long and contain at least 3 of the following :</p>
                <p><span class="red" id="upper">1 Uppercase Letter</span></p>
                <p><span class="red" id="lower">1 Lowercase Letter</span></p>
                <p><span class="red" id="symbol">1 Special Symbol [!@#$%^&*_=+-]</span></p>
                <p><span class="red" id="number">1 Number</span></p>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'JS/password-validation.js' %}"></script>
{% endblock right %}