{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readch thousands of influencers</title>
    {% block head%}
    <link rel="stylesheet" href="{% static 'CSS/about.css' %}">
    {% endblock head%}
</head>
<body>
    {% block content %}
        <section style="padding-top: 70px;">
            <div class="pad">
                <h1>Empowering Influencers to Become Successful Entrepreneurs</h1>
                <p style="padding: 0 15px;">We believe in the power of influencers and are dedicated to your success. Whether you're a rising star or completely new to the industry, we work tirelessly to help you accelerate your career.</p>
                <img src="{% static 'Images/about.jpg' %}">
            </div>
        </section>
        <section>
            <div class="pad">
                <h2>Our Values</h2>
                <div class="value-conatiner">
                    <div class="values">
                        <p class="title">Speak Your Mind</p>
                        <p>The relationships we have within our internal teams, our influencer community, and the brands we work with all have one thing in common: authenticity is of utmost importance.</p>
                    </div>
                    <div class="values">
                        <p class="title">Speak Your Mind</p>
                        <p>The relationships we have within our internal teams, our influencer community, and the brands we work with all have one thing in common: authenticity is of utmost importance.</p>
                    </div>
                    <div class="values">
                        <p class="title">Speak Your Mind</p>
                        <p>The relationships we have within our internal teams, our influencer community, and the brands we work with all have one thing in common: authenticity is of utmost importance.</p>
                    </div>
                    <div class="values">
                        <p class="title">Speak Your Mind</p>
                        <p>The relationships we have within our internal teams, our influencer community, and the brands we work with all have one thing in common: authenticity is of utmost importance.</p>
                    </div>
                    <div class="values">
                        <p class="title">Speak Your Mind</p>
                        <p>The relationships we have within our internal teams, our influencer community, and the brands we work with all have one thing in common: authenticity is of utmost importance.</p>
                    </div>
                </div>
            </div>
        </section>
    {% endblock content %}
</body>
</html>